<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vehicles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-grid>
    <ion-row class="card-style ion-align-items-center" *ngFor="let vehicle of vehicleService.vehicles">
      <ion-col size="2">
        <!-- <ion-img style="max-width: 40px; margin-left: 7px" src="./assets/images/car.png"></ion-img> -->
        <!-- <ion-icon class="car" name="ios-car"></ion-icon> -->
        <ion-icon class="car" [src]="vehicle.vehicleType == 'Car' ? '../../assets/images/car.svg' : (vehicle.vehicleType == 'Truck' ? '../../assets/images/truck.svg' :'../../assets/images/motor.svg') " ></ion-icon>
      </ion-col>
      <ion-col size="4">
        <span class="nick-value">{{vehicle.nick}}</span><br>
        <span class="nick">Description</span>
      </ion-col>
      <ion-col size="4">
        <span class="tag-value">{{vehicle.tag}}</span><br>
        <span class="tag">License Plate</span>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center">
        <span style="font-size: 25px; padding-left: 20px;  color: #ff8f1a" (click)="showPicker(vehicle)">
          <ion-icon name="md-more"></ion-icon>
        </span>
      </ion-col>
    </ion-row>

    <ion-row class="card-style ion-align-items-center" *ngIf="vehicleService.vehicles?.length == 0" 
    style="padding-top: 15px;padding-bottom:15px;">
    <ion-col size="2">
        <ion-icon class="car" src="../../assets/images/car.svg" ></ion-icon>
      </ion-col>
      <ion-col size="10" style="text-align: left;padding-left: 25px;">
        <span class="nick-value">No vehicle registered</span>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" size="small" (click)="addVehicle()">
      <ion-icon name="add" style="color: black;" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>