
ion-header::after {
    background-image: none; 
}

ion-content{
    // --background: rgb(223, 223, 223);
    --background:  url(../../assets/images/back.png)  no-repeat center center / cover;
    background-color: #ff8f1a;

    ion-icon{
        display: inline-block;
        vertical-align: middle;
    }
    
    .card-style{
        // border: black 1px solid;
        background: rgb(36, 36, 36);
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        // margin-bottom: 5px;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
        // border-left: 3px solid #ff8f1a;

        

        text-align: center;
        width: auto !important;

        .tag-value{
            font-size: 20px;
            color: #ff8f1a;
        }

        .car{ 
            font-size: 40px;
            color: #ff8f1a;
        }

        .tag{
            font-size: 12px;
            color: rgb(173, 173, 173);
        }

        .nick-value{
            font-size: 20px;
            color: #ff8f1a;
        }

        .nick{
            font-size: 12px;
            color: rgb(173, 173, 173);
        }


    }
}