ion-content {
  --background: #ff8f1a;
}
ion-content div {
  margin-left: 15px;
  margin-right: 15px;
}
ion-content div ion-grid {
  padding: 0px;
}
ion-content div ion-grid ion-row.records {
  background: #242424;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
  color: white;
}
ion-content div .noresults {
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  background-color: #242424;
  color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ion-content div .tag-value {
  font-size: 30px;
}
ion-content div .time-value {
  font-size: 30px;
}
ion-content div .tag {
  color: #ff8f1a;
  font-size: 13px;
}
ion-content div .time {
  color: #ff8f1a;
  font-size: 13px;
}
ion-content div .red {
  color: #db3939;
}
ion-content div ion-button {
  margin-top: 10px;
}
ion-content div ion-input {
  margin-top: 10px;
  border-radius: 10px !important;
  border: 1px solid #b4b4b4 !important;
  text-align: left;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ion-content div ion-input .icon {
  color: #242424;
  margin-left: 7px;
  font-size: 25px;
}
