<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Compliance</ion-title>
    <ion-buttons slot="end" style="margin-right: 10px;">
        <ion-button (click)="onSelectMode()">
            <ion-icon slot="icon-only" name="md-more" ></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <ion-grid>
      <ion-row>
        <ion-col style="padding: 0px;">
          <ion-input type="tel" placeholder="Location Code" name="code" [(ngModel)]="locationNumber" pattern="[0-9]" (ngModelChange)="onChange()">
            <ion-icon class="icon" name="pin" slot="end"></ion-icon>
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="service.mode=='plate'">
          <ion-col style="padding: 0px;">
            <ion-input type="tel" placeholder="License Plate" name="code" [(ngModel)]="licensePlate" pattern="[0-9]" (ngModelChange)="onChange()">
              <ion-icon class="icon" src="../../assets/images/tag.svg" slot="end"></ion-icon>
            </ion-input>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col style="padding: 0px;">
            <ion-button  color="light" style="margin-top: 20px;" expand="block" (click)="onSearch()" 
            [disabled]="locationNumber =='' || (licensePlate == '' && service.mode == 'plate') ">Search
              </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="noresults" *ngIf="noResults ion-align-items-center" >
        <ion-col>
            <span >No Results</span>
        </ion-col>
        
      </ion-row>


      <ion-row class="records" *ngFor="let visit of visits">
        <ion-col size="5">
          <span class="tag-value">{{visit.vehicle.tag}}</span> <br>
          <span class="tag">License Plate</span>
        </ion-col>
        <ion-col size="7" [ngClass]="{'red': visit?.seconds<=300}">
          <span class="time-value">
            <countdown [config]="{ leftTime: visit.seconds }"></countdown>
          </span><br>
          <span class="time">Time Remaining </span>
        </ion-col>
      </ion-row>

      <ion-row class="records" *ngIf="visit" >
          <ion-col size="5">
            <span class="tag-value">{{visit.vehicle?.tag}}</span> <br>
            <span class="tag">License Plate</span>
          </ion-col>
          <ion-col size="7" [ngClass]="{'red': visit?.seconds<=300}" *ngIf="!visit.hasExpired && !visit.wasCancelled">
            <span class="time-value">
              <countdown [config]="{ leftTime: visit.seconds }"></countdown>
            </span><br>
            <span class="time">Time Remaining </span>
          </ion-col>
          <ion-col size="7" *ngIf="visit.hasExpired || visit.wasCancelled" class="red ion-align-self-center" >
              <span class="time-value"> 
                <span *ngIf="visit.wasCancelled">Cancelled</span>
                <span *ngIf="visit.hasExpired">Expired</span>
              </span>
            </ion-col>
        </ion-row>
    </ion-grid>
  </div>







</ion-content>