ion-content{
    --background: #ff8f1a;
   
div{
    margin-left: 15px;
    margin-right: 15px;

    ion-grid{
        padding: 0px;
 
 
         ion-row.records{
             background: rgb(36, 36, 36);
             box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
             border-radius: 4px;
             margin-top: 10px;
             text-align: center;
             color: white;
            // 
         }
         
        }

        .noresults{
            margin-top: 40px;
            text-align: center;
            font-size: 40px;
            background-color: rgb(36, 36, 36);
            color: white;
            border-radius: 4px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .tag-value{
            font-size: 30px;
        }
        .time-value{
            font-size: 30px;
        }
        .tag{
            color: #ff8f1a;
            font-size: 13px;
         }
         .time{
            color: #ff8f1a;
            font-size: 13px;
         }
        .red{
            color: rgb(219, 57, 57);
        }


        ion-button{
            margin-top: 10px;
        }

 
        ion-input{
            margin-top: 10px;
         border-radius: 10px !important;
         border: 1px solid rgb(180, 180, 180) !important;
         text-align: left;
         background: #ffffff;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         .icon{
            color: rgb(36, 36, 36);
            margin-left: 7px;
            font-size: 25px;
        }
     }
 
}


  

}