ion-content{
    --background:  url(../../assets/images/back.png)  no-repeat center center / cover;
    background-color: #ff8f1a;

    ion-button{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      
    }

    ion-button{
        .button-native{
            padding: 0px !important;
            background: rgb(36, 36, 36) !important;
            color:#ff8f1a !important;
        }
    }
 
    ion-input{
        border-radius: 10px !important;
        border: 1px solid rgb(180, 180, 180) !important;
        text-align: left;
        background: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    ion-grid.parked{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: rgb(36, 36, 36);
        padding: 0px;

        ion-col.counter{
            text-align: center;
            color: #ff8f1a;
        }

        countdown{
            color: white; 
            font-size: 60px;
        }

        ion-row.parking-number{
            margin-top: 30px;
            text-align: center;
            margin-bottom: 20px;

            .park-data{
                font-size: 40px;
                color: white; 
            }

            .park-label{
                font-size: 13px;
                color: #ff8f1a; 
            }
        }

        ion-row.address-row{
            ion-col{
                text-align: center;
            }
            span.value-address{
                color: white; 
                text-align: center;
                font-size: 20px;
                margin-bottom: px;
            }
            span.label-address{
                
                color: #ff8f1a; ; 
                font-size: 13px;
                // font-size: 40px;
            }


        }

    }



    
}

countdown{
    font-size: 20px;
}

ion-header {
    background:  url(../../assets/images/car.png)  no-repeat center center / cover;
    // background-color: #ff8f1a;
}

ion-header::after {
    background-image: none; 
}

.image{
    margin-left: 20px ;
    height: 20px;
}

.parking{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.icon{
    color: rgb(36, 36, 36);
    margin-left: 7px;
    font-size: 25px;
}


.location-card{
    width: 100%;
    color: white;
    background: rgb(36, 36, 36);
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 4px;
    
    span.number{
        color: #ff8f1a;
        font-size: 25px;
    }
  
    ion-icon{
        display: inline-block;
        vertical-align: middle;
        color: rgb(233, 233, 233);
        font-size: 25px;
    }
}



.property-card{
    width: 100%;
    color: white;
    background: rgb(36, 36, 36);
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 4px;
    
   
    ion-icon{
        display: inline-block;
        vertical-align: middle;
        color:  rgb(233, 233, 233);
        font-size: 25px;
    }
    
}


.card-style{

    background: rgb(36, 36, 36);
    margin-top: 15px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    text-align: center;
    width: auto !important;

    .tag-value{
        font-size: 20px;
        color: #ff8f1a;
    }

    .car{ 
        font-size: 35px;
        color: #ff8f1a;
    }

    .tag{
        font-size: 12px;
        color: rgb(173, 173, 173);
    }

    .nick-value{
        font-size: 20px;
        color: #ff8f1a;
    }

    .nick{
        font-size: 12px;
        color: rgb(173, 173, 173);
    }

    ion-icon{
        display: inline-block;
        vertical-align: middle;
        color: rgb(233, 233, 233);
        font-size: 25px;
    }


}


 