<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <img object-fit: cover src="../../assets/images/topLogo.png" class="image">
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="parking" *ngIf="visitService.visit == null || visitService.visit?.hasExpired || visitService.visit?.wasCancelled">
    
    <ion-input *ngIf="!park" type="tel" placeholder="Location Code" name="code" [(ngModel)]="search" pattern="[0-9]" >
      <!-- (ngModelChange)="onSearch()"> -->
      <ion-icon class="icon" name="pin" slot="end"></ion-icon>
    </ion-input>


    <div class="location-card" *ngIf="park">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3" class="ion-align-self-center">
            <span class="number">
              {{park?.number}}
            </span>
          </ion-col>
          <ion-col size="8" class="ion-align-self-center">
            <span class="location-name">{{park?.community?.name}}</span>
          </ion-col>

          <ion-col size="1" class="ion-align-self-center" (click)="cancelParkSelection()">
            <ion-icon name="ios-close"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-button *ngIf="!park" color="dark" style="margin-top: 20px;" expand="block" (click)="searchPark()">Search
    </ion-button>


    <!-- <div class="location-card" *ngFor="let item of parks" (click)="onSelectLocation(item)">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3" class="ion-align-self-center">
            <span class="number">
              {{item.number}}
            </span>
          </ion-col>
          <ion-col size="8" class="ion-align-self-center">
            <span class="location-name">{{item?.community?.name}}</span>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->


    <ion-button *ngIf="!vehicleSelected && park" color="dark" style="margin-top: 20px;" expand="block"
      (click)="carSelection()">Select Vehicle</ion-button>

    <ion-grid *ngIf="vehicleSelected" style="padding: 0px;">
      <ion-row class="card-style ion-align-items-center" style="padding: 0px;padding-left: 10px;padding-right: 5px;">
        <ion-col size="2">
          <!-- <ion-icon class="car" name="ios-car"></ion-icon> -->
          <ion-icon class="car"
            [src]="vehicleSelected.vehicleType == 'Car' ? '../../assets/images/car.svg' : (vehicleSelected.vehicleType == 'Truck' ? '../../assets/images/truck.svg' :'../../assets/images/motor.svg') ">
          </ion-icon>
        </ion-col>
        <ion-col size="4">
          <span class="nick-value">{{vehicleSelected?.nick}}</span><br>
          <span class="nick">Description</span>
        </ion-col>
        <ion-col size="5">
          <span class="tag-value">{{vehicleSelected?.tag}}</span><br>
          <span class="tag">License Plate</span>
        </ion-col>
        <ion-col size="1" class="ion-align-self-center" (click)="carSelection()">
          <ion-icon name="ios-close"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-input *ngIf="park && vehicleSelected && !property" type="text" placeholder="Property you are visiting"
      name="code" [(ngModel)]="searchProperty" style="margin-top: 20px;" (ngModelChange)="onSearchProperty()">
      <ion-icon class="icon" name="ios-search" slot="end"></ion-icon>
    </ion-input>


    <div class="location-card" *ngFor="let item of properties" (click)="onSelectProperty(item)">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3" class="ion-align-self-center">
            <ion-icon style="color: #ff8f1a !important;" src="../../assets/images/build.svg"></ion-icon>
          </ion-col>
          <ion-col size="8" class="ion-align-self-center">
            <span class="location-name">{{item?.address}}</span>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="location-card" *ngIf="property">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3" class="ion-align-self-center">
            <ion-icon style="color: #ff8f1a !important; padding-left: 18px;" src="../../assets/images/build.svg">
            </ion-icon>
          </ion-col>
          <ion-col size="8" class="ion-align-self-center">
            <span class="location-name">{{property?.address}}</span>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center" (click)="removeProperty()">
            <ion-icon name="ios-close"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-button *ngIf="property" color="light" style="margin-top: 20px;" expand="block" (click)="onPark()">
      <ion-icon slot="start" src="../../assets/images/parkLogo.svg"></ion-icon> Park
    </ion-button>
  </div>

  <div class="parking"
    *ngIf="visitService.visit != null && !visitService.visit?.hasExpired && !visitService.visit?.wasCancelled">

    <ion-grid class="parked" >
      <ion-row>
       
        <ion-col class="counter" >
          <countdown #cd [config]="config" (event)="handleEvent($event)"></countdown> <br>
          <span>Remaining Time</span>
        </ion-col>
  
      </ion-row>

      <ion-row class="parking-number">
        <ion-col>
          <span class="park-data">{{visitService.visit?.parking?.number}}</span>
          <br>
          <span class="park-label">Parking Number</span>
        </ion-col>
        <ion-col>
          <span class="park-data">{{visitService.visit?.vehicle?.tag}}</span>
          <br>
          <span class="park-label">License Plate</span>
        </ion-col>
      </ion-row>

      <ion-row class="address-row">
        <ion-col>
          <span class="value-address">
            {{visitService.visit?.property?.address}}
          </span>
          <br>
          <span class="label-address">
            Viting at
          </span>
        </ion-col>
      </ion-row>


    </ion-grid>

    <ion-button color="light" style="margin-top: 20px;" expand="block" (click)="onCancelPark()">Cancel Parking
    </ion-button>



  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed"  *ngIf="visitService.visit != null && !visitService.visit?.hasExpired && !visitService.visit?.wasCancelled">
      <ion-fab-button color="light" size="small" (click)="loadData()">
        <ion-icon name="ios-refresh" style="color: black;" ></ion-icon>
      </ion-fab-button>
    </ion-fab>


</ion-content>