ion-content {
  --background: url(../../assets/images/back.png) no-repeat center center/cover;
  background-color: #ff8f1a;
}
ion-content ion-button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ion-content ion-button .button-native {
  padding: 0px !important;
  background: #242424 !important;
  color: #ff8f1a !important;
}
ion-content ion-input {
  border-radius: 10px !important;
  border: 1px solid #b4b4b4 !important;
  text-align: left;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ion-content ion-grid.parked {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #242424;
  padding: 0px;
}
ion-content ion-grid.parked ion-col.counter {
  text-align: center;
  color: #ff8f1a;
}
ion-content ion-grid.parked countdown {
  color: white;
  font-size: 60px;
}
ion-content ion-grid.parked ion-row.parking-number {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}
ion-content ion-grid.parked ion-row.parking-number .park-data {
  font-size: 40px;
  color: white;
}
ion-content ion-grid.parked ion-row.parking-number .park-label {
  font-size: 13px;
  color: #ff8f1a;
}
ion-content ion-grid.parked ion-row.address-row ion-col {
  text-align: center;
}
ion-content ion-grid.parked ion-row.address-row span.value-address {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-bottom: px;
}
ion-content ion-grid.parked ion-row.address-row span.label-address {
  color: #ff8f1a;
  font-size: 13px;
}
countdown {
  font-size: 20px;
}
ion-header {
  background: url(../../assets/images/car.png) no-repeat center center/cover;
}
ion-header::after {
  background-image: none;
}
.image {
  margin-left: 20px;
  height: 20px;
}
.parking {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.icon {
  color: #242424;
  margin-left: 7px;
  font-size: 25px;
}
.location-card {
  width: 100%;
  color: white;
  background: #242424;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}
.location-card span.number {
  color: #ff8f1a;
  font-size: 25px;
}
.location-card ion-icon {
  display: inline-block;
  vertical-align: middle;
  color: #e9e9e9;
  font-size: 25px;
}
.property-card {
  width: 100%;
  color: white;
  background: #242424;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}
.property-card ion-icon {
  display: inline-block;
  vertical-align: middle;
  color: #e9e9e9;
  font-size: 25px;
}
.card-style {
  background: #242424;
  margin-top: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: auto !important;
}
.card-style .tag-value {
  font-size: 20px;
  color: #ff8f1a;
}
.card-style .car {
  font-size: 35px;
  color: #ff8f1a;
}
.card-style .tag {
  font-size: 12px;
  color: #adadad;
}
.card-style .nick-value {
  font-size: 20px;
  color: #ff8f1a;
}
.card-style .nick {
  font-size: 12px;
  color: #adadad;
}
.card-style ion-icon {
  display: inline-block;
  vertical-align: middle;
  color: #e9e9e9;
  font-size: 25px;
}
