<!-- <ion-header mode="md" translucent=true >
  <ion-toolbar color="warning">
  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="register-or-login"></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="login-content">

  <!-- <ion-back-button defaultHref="register-or-login"></ion-back-button> -->

  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-col>
        <ion-grid>
          <ion-row class="logo-row" class="ion-justify-content-center">

            <ion-col class="picture">
              <img src="assets/images/parkSign.PNG" />
            </ion-col>

          </ion-row>

          <ion-row style="padding-top: 10px">
            <ion-col>

              <form [formGroup]="userForm" (ngSubmit)="login()">

                <ion-input type="text" placeholder="Phone Number" name="phone" formControlName="userName"
                  (keyup)="onKey($event)"></ion-input>

                <ion-input type="password" placeholder="Password" name="password" formControlName="password"
                  (keyup)="onKey($event)" style=" margin-top: 20px">
                </ion-input>
                <div class="errorClass" *ngIf="userForm.controls.password.errors?.minlength">
                  <span>The password must have at least 6 characters</span>
                </div>

                <div class="errorClass" *ngIf="error">
                  <span>{{error}}</span>
                </div>

                <ion-button type="submit" style="margin-top: 30px" color="dark" expand="block"
                  [disabled]="userForm.status == 'INVALID'">Sign in</ion-button>

                <ion-button style="margin-top: 15px" color="light" expand="block" (click)="forgotCredentials()">Forgot
                  password?
                </ion-button>

                <!-- <ion-button style="margin-top: 15px" color="light" fill="outline" expand="block" routerLink="/register-or-login"
                routerLinkActive="root" >Go Back
                  </ion-button> -->
                  
              </form>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="height: 100px !important">
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" size="small" routerLink="/register-or-login" routerLinkActive="root">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<!-- 
<ion-content>

  <ion-input placeholder="Enter Phone Number" [(ngModel)]="user.userName"></ion-input>
  <ion-input placeholder="Enter Password" [(ngModel)]="user.password"></ion-input>

  <ion-button expand="block" (click)="login()">
    Login
  </ion-button>
  <ion-button expand="block" (click)="forgotCredentials()" color="danger">
    Forgot
  </ion-button>
</ion-content> -->