<ion-header>
  <ion-toolbar>
    <ion-title> Vehicles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="card-style ion-align-items-center" *ngFor="let vehicle of vehicleService.vehicles" (click)="select(vehicle)" >
      <ion-col size="2">
        <!-- <ion-icon class="car" name="ios-car"></ion-icon> -->
        <ion-icon class="car"
          [src]="vehicle.vehicleType == 'Car' ? '../../assets/images/car.svg' : (vehicle.vehicleType == 'Truck' ? '../../assets/images/truck.svg' :'../../assets/images/motor.svg') ">
        </ion-icon>
      </ion-col>
      <ion-col size="5">
        <span class="nick-value">{{vehicle.nick}}</span><br>
        <span class="nick">Description</span>
      </ion-col>
      <ion-col size="4">
        <span class="tag-value">{{vehicle.tag}}</span><br>
        <span class="tag">License Plate</span>
      </ion-col>
      <ion-col size="1">
        <ion-icon class="forward" name="ios-arrow-forward"></ion-icon>
      </ion-col>

    </ion-row>

    <ion-row class="card-style ion-align-items-center" *ngIf="vehicleService.vehicles?.length == 0" 
    style="margin-top: 20px;margin-bottom:20px;">

      <ion-col size="12" style="text-align: center;">
        <span class="nick-value">No vehicle registered</span>
      </ion-col>
    </ion-row>
    
    <ion-row class="add-row ion-align-items-center" (click)="addSelect()">
      <ion-col size="2">
        <ion-icon class="addButton" name="add">
        </ion-icon>
      </ion-col>
      <ion-col size="9">
        <span class="addVehicle">Add Vehicle</span>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>