ion-toolbar{
    --background:#ff8f1a;
    color:white;//rgb(173, 173, 173);// rgb(36, 36, 36);
}

ion-header::after {
    background-image: none; 
}

ion-content{
    //  --background:#ff8f1a;
     --background:rgb(36, 36, 36);
     text-align: center;
     ion-grid{
         padding: 0px;
     }
     .add-row{
        background:#ff8f1a;
        color: rgb(36, 36, 36);
        text-align: left;
        .addVehicle{
            color:white;// rgb(36, 36, 36);
            
        }
        .addButton{
            font-size: 25px;
            color: white;//rgb(36, 36, 36);
        }
     }

    .card-style{
        
        // padding-left: 7px;padding-right: 7px;
        padding: 7px;
        width: auto !important;
        // border-bottom: solid 1px rgb(190, 190, 190);
    }

    .tag-value{
        font-size: 16px;
        color: #ff8f1a;
        
    }

    .car{ 
        font-size: 30px;
        color: #ff8f1a;
    }
    .forward{ 
        font-size: 20px;
        color: rgb(173, 173, 173);
    }

    .tag{
        font-size: 10px;
        color: rgb(173, 173, 173);
    }

    .nick-value{
        font-size: 16px;
        color: #ff8f1a;
    }

    .nick{
        font-size: 10px;
        color: rgb(173, 173, 173);
    }
}