<ion-content class="login-content" >

  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-col>
        <ion-grid>
          <ion-row class="logo-row" class="ion-justify-content-center">

            <ion-col class="picture">
              <img src="assets/images/parkSign.PNG" />
            </ion-col>

          </ion-row>

          <ion-row style="padding-top: 10px">
            <ion-col>
              
              <h1 class="title">Welcome</h1>

              <ion-button style="margin-top: 30px" color="dark" expand="block" (click)="login()">Sign in</ion-button>

              <ion-button style="margin-top: 15px" color="light" expand="block" (click)="register()">Register</ion-button>
              

            </ion-col>
          </ion-row> 
          <ion-row>
            <ion-col style="height: 100px !important">
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>
    </ion-row>

  </ion-grid>








</ion-content>