ion-content {
  --ion-background-color: #ff8f1a !important;
  padding: 0px !important;
}
h1 {
  margin-top: 35px;
  margin-bottom: 35px;
}
ion-input {
  border-radius: 5px !important;
  border: 1px solid black !important;
  text-align: left;
  background: #ffffff;
}
.login-content {
  z-index: 1;
  width: 100%;
  height: 100% !important;
}
.login-content ion-row {
  align-items: center;
  text-align: center;
}
.login-content .title {
  color: #000 !important;
}
.login-content button {
  background: #000 !important;
}
@media only screen and (max-width: 1200px) {
  .picture img {
    max-width: 280px;
  }
}
@media only screen and (max-width: 576px) {
  .picture img {
    max-width: 340px;
  }
}
