<ion-menu side="start" menuId="first" contentId="content">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide=false *ngFor="let p of pages">
        <ion-item [routerLink]="p.url" routerDirection="root">
          <ion-icon [name]="p.icon" slot="end"></ion-icon>
          <ion-label>{{p.title}} </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-list>
        <ion-menu-toggle auto-hide=false>
            <ion-item (click)="logOff()" lines="none">
       
                <ion-icon name="ios-log-out" slot="end"></ion-icon>
                <ion-label>Log Off</ion-label>
              
              </ion-item>
        </ion-menu-toggle>
    
    </ion-list>

  </ion-footer>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>