<ion-content class="login-content">

  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-col>
        <ion-grid>
          <ion-row class="logo-row" class="ion-justify-content-center">

            <ion-col class="picture">
              <img src="assets/images/parkSign.PNG" />
            </ion-col>

          </ion-row>

          <ion-row style="padding-top: 10px">
            <ion-col>

              <form [formGroup]="userForm" (ngSubmit)="checkCode()">

                <h6 style="margin-left: 15px; margin-right: 15px; margin-bottom: 20px; color:white">
                  Wait few seconds and check your messages. Please enter the code we sent you</h6>


                <ion-input type="number" placeholder="Code" name="code" formControlName="code" (keyup)="onKey($event)" ></ion-input>

                <div class="errorClass"
                  *ngIf="(userForm?.controls?.code?.errors?.minlength ||userForm.controls?.code?.errors?.maxlength) && !errorMessage">
                  <span>The code must have 8 numbers</span>
                </div>

                <div class="errorClass"
                  *ngIf="userForm.status != 'INVALID' && errorMessage">
                  <span>{{errorMessage}}</span>

                </div>



                <ion-button style="margin-top: 30px" color="dark" expand="block" type="submit"
                  [disabled]="userForm.status == 'INVALID'"> Send </ion-button>

                <!-- <ion-button style="margin-top: 15px" color="light" expand="block" routerLink="/forgot-password"
                  routerDirection="root"> Go Back </ion-button> -->



              </form>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="height: 100px !important">
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>
    </ion-row>

  </ion-grid>



  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" size="small" routerLink="/forgot-password" routerLinkActive="root">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>






</ion-content>