ion-content{
    --ion-background-color:#ff8f1a !important;
     // background-color: #ff8f1a !important;
 
     padding: 0px !important;
 }
 
 h4{
      margin-top: 10px;
      margin-bottom: 16px;
 }
 
 
 ion-input{
     border-radius: 5px !important;
     border: 1px solid rgb(150, 150, 150) !important;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: left;
     background: #ffffff;
 }
 
 .login-content {
     z-index: 1;
     width: 100%;
     height: 100% !important;
     
       ion-row {
           align-items: center;
           text-align: center;
         }
 
        
        
   .title{
       color: rgb(0, 0, 0) !important;
       
           
       }
       button{
         background: rgb(0, 0, 0) !important;
         
       }
 
     }
 
    
 @media only screen and (max-width: 1200px) {
 
 .picture img{
   max-width: 280px;
 }
 }
 
 @media only screen and (max-width: 576px) {
 
 .picture img{
   max-width: 280px;
 }
 
 }
 
 
 
 