// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ff8f1a;   --ion-color-primary-rgb: 255,143,26;   --ion-color-primary-contrast: #000000;   --ion-color-primary-contrast-rgb: 0,0,0;   --ion-color-primary-shade: #e07e17;   --ion-color-primary-tint: #ff9a31;;
  --ion-color-warning-rgb: 255,143,26;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e07e17;
  --ion-color-warning-tint: #ff9a31;
  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}




ion-popover{
ion-backdrop{
opacity: 0.5 !important;
}
.popover-wrapper{
.popover-content{
width:80vw;
max-width:500px;
}
}
}



.errorClass{
  text-align: left;
  font-size: 9pt;
   color:#ff0E01;
   margin-left: 5px;
   margin-top:3px
}

.alertButton{
  // background-color: #ff0E01 !important;
  color: #ff8f1a !important;
}

.alertCss{
  .alert-wrapper{
      background-color: rgb(36, 36, 36) !important;
    
      .alert-message{
          color: #ffffff !important;    
      } 
      .alert-title{
          color: #ffffff !important;    
      }
      }
  
}
.popover{
    width: 400px !important;
}


.radio-alertCss{
  .alert-wrapper{
      background-color: rgb(36, 36, 36) !important;
    
      .alert-message{
          color: #ffffff !important;    
      } 
      .alert-title{
          color: #ffffff !important;    
      }
      .alert-radio-label{
          color: #ffffff !important;    
      }

      .alert-radio-icon.sc-ion-alert-md{
          border-color: #ff8f1a;
          .alert-radio-inner.sc-ion-alert-md{
              background-color: #ff8f1a;
          }
      }

      }
  
}



.action{
    .action-sheet-group{
      background-color: rgb(36, 36, 36) !important;
      .action-sheet-title{
          text-align: center;
          color: #ff8f1a;
          font-weight: bold;
          font-size: 20px;
      }
      .action-sheet-button-inner,ion-icon{
          color: #ff8f1a;
      }
    }
}

.loading{
    color: white;
  .loading-wrapper{
      background-color: rgb(36, 36, 36) !important;
      color: white;
  }
  .loading-content.sc-ion-loading-md{
    
      color: white;
  }
  .sc-ion-loading-md{
      color: #ff8f1a;
  }
}


ion-toolbar, ion-header  {
  --min-height: 40px;
  color : rgb(252, 252, 252);
  background: #ff8f1a;

  ion-title{
      font-size: 20px !important
  }

  ion-buttons{
      
      height: 30px !important;
      margin-left: 0px !important;
      width: 30px !important;

      ion-menu-button{
          color: rgb(252, 252, 252) ;
          font-size: 25px !important;
      }

      ion-back-button{
          color: rgb(252, 252, 252) ;
          font-size: 25px !important;
      }
      
  }

 


  
 }


 ion-menu-toggle{
  ion-item{
      --padding-start:0px;

      ion-label{
          padding-left: 10px !important;
      }
  }
}

