<!-- <ion-content>
  <ion-input placeholder="Enter Phone Number" [(ngModel)]="user.userName"></ion-input>

  <ion-button expand="block" (click)="checkPhone()">
    Reset
  </ion-button>
  <ion-button expand="block" (click)="goToLogin()" color="danger">
    Go to Login
  </ion-button>

</ion-content> -->


<ion-content class="login-content">

  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-col>
        <ion-grid>
          <ion-row class="logo-row" class="ion-justify-content-center">

            <ion-col class="picture">
              <img src="assets/images/parkSign.PNG" />
            </ion-col>

          </ion-row>

          <ion-row style="padding-top: 10px">
            <ion-col>

              <form [formGroup]="userForm" (ngSubmit)="checkPhone()">

                <h6 style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px; color:white">
                  Enter your phone number. We will send you a code by SMS to reset your password </h6>

                <ion-input type="text" placeholder="Phone Number" name="phone" formControlName="userName"></ion-input>

                <div class="errorClass"
                  *ngIf="errorMessage">
                  <span>{{errorMessage}}</span>
                </div>


                <ion-button style="margin-top: 30px" color="dark" expand="block" type="submit"
                  [disabled]="userForm.status == 'INVALID'"> Send
                </ion-button>

                <!-- <ion-button style="margin-top: 15px" color="light" fill="outline" expand="block" routerLink="/login"
                routerLinkActive="root" >Go Back
                  </ion-button> -->

                <!-- <ion-button style="margin-top: 15px" color="light" expand="block">Forgot credentials?
                </ion-button> -->

              </form>



            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="height: 100px !important">
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>
    </ion-row>

  </ion-grid>






  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
      <ion-fab-button color="dark" size="small" routerLink="/login" routerLinkActive="root"  >
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>


</ion-content>