<ion-content class="login-content">

  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-col>
        <ion-grid>
          <ion-row class="logo-row" class="ion-justify-content-center">

            <ion-col class="picture">
              <img src="assets/images/parkSign.PNG" />
            </ion-col>

          </ion-row>

          <ion-row style="padding-top: 10px">
            <ion-col>

              <form [formGroup]="userForm" (ngSubmit)="newPassword()">

                <h6 style="margin-left: 15px; margin-right: 15px; margin-bottom: 20px; color:white">Enter new password
                </h6>

                <ion-input type="password" placeholder="Password" name="password" formControlName="password"  (keyup)="onKey($event)">
                </ion-input>
                <div class="errorClass"
                  *ngIf="userForm?.controls?.password?.errors?.minlength && !errorMessage">
                  <span>The password must have at least 6 characters</span>
                </div>

                <div class="errorClass" *ngIf="userForm.status != 'INVALID' && errorMessage">
                  <div *ngFor="let item of errorMessage"><span >{{item}}</span><br> </div>
                  

                </div>


                <ion-button style="margin-top: 30px" color="dark" expand="block"
                  [disabled]="userForm.status == 'INVALID'" type="submit">Set</ion-button>

                <!-- <ion-button style="margin-top: 15px" color="light" expand="block" routerLink="/register-or-login"
                  routerLinkActive="root"> Exit </ion-button> -->

              </form>



            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="height: 100px !important">
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>
    </ion-row>

  </ion-grid>



  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" size="small" routerLink="/register-or-login" routerLinkActive="root">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>





</ion-content>




<!-- <ion-content>

    <ion-input placeholder="Enter Password" [(ngModel)]="user.userName"></ion-input>
    <ion-input placeholder="Enter Password again" [(ngModel)]="user.userName"></ion-input>

    <ion-button expand="block" (click)="checkPhone()">
      Reset
    </ion-button>
    <ion-button expand="block" (click)="goToLogin()" color="danger">
      Go to Login
    </ion-button>

</ion-content> -->