<ion-content class="login-content">

  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-col>
        <ion-grid>
          <ion-row class="logo-row" class="ion-justify-content-center">

            <ion-col class="picture">
              <img src="assets/images/parkSign.PNG" />
            </ion-col>

          </ion-row>

          <ion-row style="padding-top: 10px">
            <ion-col>

              <form [formGroup]="userForm" (ngSubmit)="register()">

                <ion-input type="text" placeholder="Full Name" name="fullName" formControlName="fullName" *ngIf="user.isOwner != true"></ion-input>
                <ion-input type="tel" placeholder="Phone" name="phone" formControlName="userName" style="margin-top: 20px"></ion-input>
                <div class="errorClass" [hidden]="!userForm.controls.userName.errors?.maxlength ">
                  <span>*The phone is not correct</span>
                </div>

                <ion-input type="email" placeholder="Email" style="margin-top: 20px" name="phone"
                  formControlName="email"></ion-input>
                <div class="errorClass" [hidden]="!userForm.controls.email.errors?.email">
                  <span>*The email format is not correct</span>
                </div>


                <ion-input type="text" *ngIf="user.isOwner == true" placeholder="Account Number"
                  style="margin-top: 20px" name="account" formControlName="account"></ion-input>

                <ion-input type="password" placeholder="Password" style="margin-top: 20px" name="password"
                  formControlName="password"></ion-input>
                <div class="errorClass" *ngIf="userForm.controls.password.errors?.minlength">
                  <span>The password must have at least 6 characters</span>
                </div>

                <ion-button style="margin-top: 30px" color="dark" [disabled]="userForm.status == 'INVALID'"
                  expand="block" type="submit">Register</ion-button>

                <!-- <ion-button style="margin-top: 15px" color="light" expand="block" routerLink="/register-or-login">go
                  Back</ion-button> -->

                <!-- <ion-button style="margin-top: 15px" color="light" expand="block" (click)="test()">test</ion-button> -->
              </form>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="height: 100px !important">
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>
    </ion-row>

  </ion-grid>




  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" size="small" routerLink="/register-or-login" routerLinkActive="root">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>