ion-content{
    --background:  url(../../../assets/images/back.png)  no-repeat center center / cover;
    background-color: #ff8f1a;

    // --background: rgb(223, 223, 223);
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 15px;

    
    ion-input,ion-select{
        border-radius: 5px !important;
        border: 1px solid rgb(185, 185, 185) !important;
        text-align: left;
        background: #ffffff;
       
      
    
    }

    .tag{
        margin-top: 20px;
    }


    .icon{
        color: rgb(116, 116, 116);
        margin-left: 7px !important;
        margin-right: 10px !important;
        font-size: 18px;
    }

    

}
