<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{action}} Vehicle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="vehicleForm" >
    <ion-input type="text" placeholder="Description" name="nick" formControlName="nick">
        <ion-icon class="icon" name="md-text"></ion-icon>
        <!-- <ion-icon class="icon" [src]="'../../assets/images/description.svg'"></ion-icon> -->
    </ion-input>

    <ion-input type="text" placeholder="License Plate" name="tag" class="tag" formControlName="tag">
        <!-- <ion-icon class="icon" name="create"></ion-icon> -->
        <ion-icon class="icon" [src]="'../../assets/images/tag.svg'"></ion-icon>
    </ion-input>

    <ion-input type="text" placeholder="Vehicle Type" name="sd" class="tag" formControlName="vehicleType" readonly (click)="onClickType()">
        <ion-icon class="icon" [src]="vehicleForm.controls.vehicleType.value == 'Car' ? '../../assets/images/car.svg' : (vehicleForm.controls.vehicleType.value == 'Truck' ? '../../assets/images/truck.svg' :'../../assets/images/motor.svg') "></ion-icon>
    </ion-input>
    

    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="light" size="small" (click)="save()" [disabled]="vehicleForm.status == 'INVALID'">
        <ion-icon name="save" style="color: black;"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>


</ion-content>